# --- APP ---
NODE_ENV=development
PORT=3000
# --- APP ---

# --- DATABASE ---
POSTGRES_USER=notification_service
POSTGRES_PASSWORD=notification_service
POSTGRES_DB=notification_preferences
POSTGRES_PORT=5432
DATABASE_URL=postgres://notification_service:notification_service@localhost:5432/notification_preferences
# --- DATABASE ---
